.list {
    border: 0.0625rem solid var(--mui-palette-divider);
    border-radius: 0.25rem;
}

.item {
    display: flex;
    align-items: center;
    padding: 0;
}

.rowButton {
    display: flex;
    align-items: center;
    padding: 0.625rem 1rem;
    gap: 1rem;
}

.timeCol {
    min-width: 7.5rem;
    flex-shrink: 0;
}

.dateHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.listItemText {
    padding-right: 3rem;
}
